@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/regular/Montserrat-Regular.eot');
    src: url('/static/fonts/regular/Montserrat-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('/static/fonts/regular/Montserrat-Regular.woff2') format('woff2'),
        url('/static/fonts/regular/Montserrat-Regular.woff') format('woff'),
        url('/static/fonts/regular/Montserrat-Regular.ttf') format('truetype'),
        url('/static/fonts/regular/Montserrat-Regular.svg#Montserrat-Regular')
            format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/bold/Montserrat-SemiBold.eot');
    src: url('/static/fonts/bold/Montserrat-SemiBold.eot?#iefix')
            format('embedded-opentype'),
        url('/static/fonts/bold/Montserrat-SemiBold.woff2') format('woff2'),
        url('/static/fonts/bold/Montserrat-SemiBold.woff') format('woff'),
        url('/static/fonts/bold/Montserrat-SemiBold.ttf') format('truetype'),
        url('/static/fonts/bold/Montserrat-SemiBold.svg#Montserrat-SemiBold')
            format('svg');
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

/* .mytable {
  
}
thead {
    background: #f6f6f6;
}
th {
    min-width: 100px;
    background: url('../images/icons/dropdownarrow.svg') no-repeat;
    background-position: right;
    background-size: 15px;
}
tr {
    background: #fdfdfd;
    border-bottom: solid 2px white;
} */

.mytable {
}
.mytable tbody tr {
    background: #f9f9f9;
    border-bottom: white solid 4px;
}
.mytable th > button > div {
    padding: 0;
}
.mytable th > button {
    padding: 0;
}
.mytable td,
.mytable th {
    /* padding-bottom: 4px; */
}
.mytable td > div {
    padding: 0;
    /* background: #f9f9f9; */
}

.mytable tr > th > div {
    padding: 0;
    /* background: #f9f9f9; */
}
